# top-most EditorConfig file
root = true

[*.sh]
# The below is used by shfmt and is equivalent to: shfmt -i 2 -ci -bn
indent_style = space
indent_size = 2
switch_case_indent = true
binary-next-line = true

[*.lua]
indent_style = space
quote_type = double

