/*
!/.local
/.local/*
!/.local/scripts

!/.config
/.config/*
!/.config/nvim
!/.config/nvim/rplugin/python3

!/.virtualenvs
/.virtualenvs/*
!/.virtualenvs/py-nvim

!.gitignore
!.gitignore_global
!.gitconfig
!.zshrc
!.editor_config
!README.md

lazy-lock.json
