/*
!/.local
/.local/*
!/.local/scripts

!/.config
/.config/*
!/.config/nvim
!/.config/nvim/rplugin/python3
/.config/nvim/nvim-pack-lock.json
!/.config/kitty
/.config/kitty/*
!/.config/kitty/kitty.conf
!/.config/homebrew

!.zshrc
!.prompt.zsh
!.editorconfig
!.gitconfig
!.gitignore
!.gitignore_global
