[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = master
	defaultObjectFormat = sha1
[core]
	excludesfile = ~/.gitignore_global
	editor = ~/.nvim-nightly/bin/nvim
	pager = bat
[user]
	name = x626f
	email = <26394523+x626f@users.noreply.github.com
[diff]
	tool = opendiff
[dotfiles]
	tracked-folders = ~/.local/scripts,~/.config/nvim,~/.config/kitty,~/.config/homebrew
[alias]
	c = commit
	cv = commit -v
	cva = commit -va
	co = checkout
	d = diff
	pom = push origin master
	s = status
[difftool]
	prompt = false
[credential "https://github.com"]
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper = !gh auth git-credential
