/*
!/.local
/.local/*
!/.local/scripts

!/.config
/.config/*
!/.config/nvim
!/.config/nvim/rplugin/python3

!/.virtualenvs

!.gitignore
!.gitignore_global
!.gitconfig
!.zshrc
!.zsh_prompt.zsh
!.editor_config

lazy-lock.json
